[submodule "submodules/claripy"]
	path = submodules/claripy
	url = https://github.com/angr/claripy.git
[submodule "submodules/volatility"]
	path = submodules/volatility
	url = https://github.com/volatilityfoundation/volatility.git
[submodule "submodules/docker-packing-box"]
	path = submodules/docker-packing-box
	url = https://github.com/dhondta/docker-packing-box.git
[submodule "submodules/SEMA-Cuckoo"]
	path = submodules/SEMA-Cuckoo
	url = https://github.com/csvl/SEMA-Cuckoo.git
[submodule "submodules/SEMA-quickspan"]
	path = submodules/SEMA-quickspan
	url = https://github.com/csvl/SEMA-quickspan.git
[submodule "submodules/angr-targets"]
	path = submodules/angr-targets
	url = https://github.com/angr/angr-targets.git
[submodule "submodules/binaries"]
	path = submodules/binaries
	url = https://github.com/angr/binaries.git
[submodule "submodules/unipacker-custom"]
	path = submodules/unipacker-custom
	url = https://github.com/ElNiak/unipacker.git
[submodule "submodules/malwexp"]
	path = submodules/malwexp
	url = https://github.com/csvl/malwexp.git
[submodule "submodules/angr-utils"]
	path = submodules/angr-utils
	url = https://github.com/axt/angr-utils.git
[submodule "submodules/bingraphvis"]
	path = submodules/bingraphvis
	url = https://github.com/axt/bingraphvis
[submodule "submodules/angr-targets"]
	path = submodules/angr-targets
	url = https://github.com/angr/angr-targets.git

# [submodule "submodules/toolchain_cuckoo"]
# 	path = submodules/toolchain_cuckoo
# 	url = https://forge.uclouvain.be/crochetch/toolchain_cuckoo.git
# [submodule "submodules/toolchain_quickspan"]
# 	path = submodules/toolchain_quickspan
# 	url = https://forge.uclouvain.be/crochetch/toolchain_quickspan.git
