*.pyc
archives/*
Result/save_SCDG
*/__pycache__/
penv/
penv-2.7/
Examples/
# malware-win/
# malware-win2/
# malware-linux/
kkrunchy-dataset-1/
PEPacker-dataset-1/
malware-inputs-2/
malware-inputs/
upx-dataset/
.vscode/
.idea/
build/
dist/
toolchain-malware-analysis.rep
.unpacker_history
toolchain-malware-analysis.gpr
databases_local
samples.zip
delf.zip
bancteian.zip
lamer.zip
nitol.zip
sfone.zip
sillyp2p.zip
simbot.zip
sytro.zip
wabot.zip
wl_model.pkl
# find . -size +100M | cat >> .gitignore

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
# *.7z
# *.dmg
# *.gz
# *.iso
# *.jar
# *.rar
# *.tar
# *.zip
sema_tc.egg-info