[submodule "src/submodules/claripy"]
	path = src/submodules/claripy
	url = https://github.com/angr/claripy.git
[submodule "src/submodules/volatility"]
	path = src/submodules/volatility
	url = https://github.com/volatilityfoundation/volatility.git
[submodule "src/submodules/docker-packing-box"]
	path = src/submodules/docker-packing-box
	url = https://github.com/dhondta/docker-packing-box.git
[submodule "src/submodules/SEMA-Cuckoo"]
	path = src/submodules/SEMA-Cuckoo
	url = https://github.com/csvl/SEMA-Cuckoo.git
[submodule "src/submodules/SEMA-quickspan"]
	path = src/submodules/SEMA-quickspan
	url = https://github.com/csvl/SEMA-quickspan.git
[submodule "src/submodules/angr-targets"]
	path = src/submodules/angr-targets
	url = https://github.com/angr/angr-targets.git
[submodule "src/submodules/binaries"]
	path = src/submodules/binaries
	url = https://github.com/angr/binaries.git
[submodule "src/submodules/unipacker-custom"]
	path = src/submodules/unipacker-custom
	url = https://github.com/ElNiak/unipacker.git
[submodule "src/submodules/malwexp"]
	path = src/submodules/malwexp
	url = https://github.com/csvl/malwexp.git
