*.pyc
archives/*
Result/save_SCDG
*/__pycache__/
penv/
penv-2.7/
Examples/
# malware-win/
# malware-win2/
# malware-linux/
kkrunchy-dataset-1/
PEPacker-dataset-1/
malware-inputs-2/
malware-inputs/
upx-dataset/
.vscode/
.idea/
build/
dist/
toolchain-malware-analysis.rep
.unpacker_history
toolchain-malware-analysis.gpr
databases_local
samples.zip
delf.zip
bancteian.zip
lamer.zip
nitol.zip
sfone.zip
sillyp2p.zip
simbot.zip
sytro.zip
wabot.zip
wl_model.pkl
*_model.pkl
# find . -size +100M | cat >> .gitignore

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# TODO dl link
/home/crochetch/Documents/Projects/MalwareAnalysis/SEMA-ToolChain-packing/src/ToolChainSCDG/procedures/windows7_ddls
/home/crochetch/Documents/Projects/MalwareAnalysis/SEMA-ToolChain-packing/src/ToolChainSCDG/procedures/windows10_ddls

*/src/output/runs/100/upatre/*/scdg.log
*/src/output/runs/100/upatre/*/inter_SCDG.log

*.log
src/output/runs/100/upatre/b1658fbd5f16d27ba3c019bbb9e1d9db02a26932523a0759571c413c70d13558.exe/inter_SCDG.json 
src/output/runs/100/upatre/3a1a2d7bd2fe7ebe588017cd8c20b4bc90bfce8c391350017bd483fd86423c32.exe/inter_SCDG.json

confusion_matrix_*.png
file_counter.py
timestamps_data.py
ttt.py
src/databases/examples_samy/**
src/database/**
src/output/runs/10**
src/SemaClassifier/classifer/explain_output/**
src/SemaClassifier/classifer/saved_model/**