setuptools-rust
pyinstaller
bcrypt<4.0.0
cryptography==43.0.1
pandas
r2pipe
pybind11
pymongo==4.4.0
pyzipper
click==8.1.3  #==8.0.3', # for task (8.0.3) 7.1.2
tasks
requests
graphviz
monkeyhex
protobuf==3.20.*
angr==9.2.21 # 8.20.7.27 for symbion (not working after) 9.2.21 -> no present in pypy
researchpy
avatar2
matplotlib
logbook==1.5.3
mmh3==3.0.0
psutil
claripy==9.2.21
unix
kvm
nose
unipacker
minidump==0.0.10
flask
yara-python
libvirt-python==9.5.0
termcolor
terminal_banner
