pymongo
pyzipper
click==8.1.3  #==8.0.3', # for task (8.0.3) 7.1.2
tasks
requests
graphviz
monkeyhex
protobuf==3.20.*
angr==9.2.21 # 8.20.7.27 for symbion (not working after) 9.2.21 -> no present in pypy
researchpy
# hypothesis
# seaborn
# scipy
# scikit-learn
# grakel
# gensim
avatar2
# r2pipe
pyinstaller
matplotlib
# celery # ==4.4.7
# tenseal
# dill
cryptography
logbook
mmh3
psutil
claripy==9.2.21
unix
kvm
nose
libvirt-python
unipacker
minidump==0.0.10
flask 